In [ ]:
!pip install BeautifulSoup4

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
import pandas as pd
import numpy as np

In [ ]:
soup = BeautifulSoup()

# 1. Program to display all header tags from wikipedia

In [ ]:
wiki_page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [ ]:
wiki_soup = BeautifulSoup(wiki_page.content)
wiki_soup

In [ ]:
header = []

for i in wiki_soup.find_all('div',class_='vector-menu-content'):
    header.append(i.text.split('\n'))
    
    
header

# 2. Python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [ ]:
imdb_page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [ ]:
imdb_page

In [ ]:
imdb_soup = BeautifulSoup(imdb_page.content)

imdb_soup

In [ ]:
mov_title=[]

for i in imdb_soup.find_all('h3',class_="lister-item-header"):
    mov_title.append(i.text.split('\n')[2])
    
mov_title

In [ ]:
mov_year=[]

for i in imdb_soup.find_all('h3',class_="lister-item-header"):
    mov_year.append(i.text.split('\n')[3])
    
mov_year

In [ ]:
mov_rating=[]

for i in imdb_soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    mov_rating.append(i.text.split('\n')[2])
    
mov_rating

In [ ]:
len(mov_title)

In [ ]:
len(mov_year)

In [ ]:
len(mov_rating)

In [ ]:
imdb_100 = pd.DataFrame({'Movie Name':mov_title,'Year':mov_year,'Rating':mov_rating})
imdb_100

In [ ]:
imdb_page2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')

In [ ]:
imdb_page2

In [ ]:
imdb2_soup = BeautifulSoup(imdb_page2.content)

In [ ]:
for i in imdb2_soup.find_all('h3',class_="lister-item-header"):
    mov_title.append(i.text.split('\n')[2])
    
mov_title

In [ ]:
for i in imdb_soup.find_all('h3',class_="lister-item-header"):
    mov_year.append(i.text.split('\n')[3])
    
mov_year

In [ ]:
for i in imdb_soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    mov_rating.append(i.text.split('\n')[2])
    
mov_rating

In [ ]:
imdb_100 = pd.DataFrame({'Movie Name':mov_title,'Year':mov_year,'Rating':mov_rating})
imdb_100

# 3. Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [ ]:
imdb_ind_page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

imdb_ind_page

In [ ]:
imdb_ind_soup = BeautifulSoup(imdb_ind_page.content)
imdb_ind_soup

In [ ]:
title_ind = []

for i in imdb_ind_soup.find_all('td', class_='titleColumn'):
    title_ind.append(i.text.split('\n')[2])
    
title_ind

In [ ]:
year_ind = []

for i in imdb_ind_soup.find_all('td', class_='titleColumn'):
    year_ind.append(i.text.split('\n')[3])
    
year_ind

In [ ]:
rating_ind = []

for i in imdb_ind_soup.find_all('td', class_='ratingColumn imdbRating'):
    rating_ind.append(i.text.split('\n')[1])
    
rating_ind

In [ ]:
print(len(title_ind))
print(len(year_ind))
print(len(rating_ind))

In [ ]:
imdb_ind = pd.DataFrame({'Movie Name':title_ind, 'Year of release':year_ind, 'Rating':rating_ind})
imdb_ind

In [ ]:
imdb_ind_100 = imdb_ind.drop(imdb_ind.index[range(100,250)],axis=0)

In [ ]:
imdb_ind_100

# 4. Python program to scrape cricket rankings from icc-cricket.com

# 4.a Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
icc_oditeam_page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
icc_oditeam_page

In [ ]:
icc_oditeam_soup = BeautifulSoup(icc_oditeam_page.content)

In [ ]:
odi_team = []

for i in icc_oditeam_soup.find_all('span', class_='u-hide-phablet'):
    odi_team.append(i.text)
    
odi_team

In [ ]:
odi_team_df = pd.DataFrame({'Team Name':odi_team})
odi_team_df

In [ ]:
odi_team_df.drop(odi_team_df.index[range(20,25)],axis=0,inplace=True)

In [ ]:
odi_team_df.reset_index()

In [ ]:
odi_matches = []

for i in icc_oditeam_soup.find_all('td', class_='rankings-block__banner--matches'):
    odi_matches.append(i.text)
    
odi_matches

In [ ]:
for i in icc_oditeam_soup.find_all('td', class_='table-body__cell u-center-text'):
    odi_matches.append(i.text)
    
odi_matches

In [ ]:
len(odi_matches)

In [ ]:
odi_matches_df = pd.DataFrame({'Matches':odi_matches})
odi_matches_df

In [ ]:
odi_matches_df.drop(odi_matches_df.index[range(2,39,2)],axis=0,inplace=True)

In [ ]:
odi_matches_df.reset_index(drop=True,inplace=True)

In [ ]:
odi_matches_df

In [ ]:
odi_points = []

for i in icc_oditeam_soup.find_all('td', class_='rankings-block__banner--points'):
    odi_points.append(i.text)
    


for i in icc_oditeam_soup.find_all('td', class_='table-body__cell u-center-text'):
    odi_points.append(i.text)
    
odi_points

In [ ]:
odi_points_df = pd.DataFrame({'Points':odi_points})
odi_points_df

In [ ]:
odi_points_df.drop(odi_points_df.index[range(1,39,2)],axis=0,inplace=True)

In [ ]:
odi_points_df.reset_index(drop=True,inplace=True)

In [ ]:
odi_points_df

In [ ]:
odi_rating = []

for i in icc_oditeam_soup.find_all('td', class_='rankings-block__banner--rating u-text-right'):
    odi_rating.append(i.text.split('\n')[1])
    


for i in icc_oditeam_soup.find_all('td', class_='table-body__cell u-text-right rating'):
    odi_rating.append(i.text)
    
odi_rating

In [ ]:
odi_rating_df = pd.DataFrame({'Rating':odi_rating})
odi_rating_df

In [ ]:
odi_top = pd.concat([odi_team_df, odi_matches_df, odi_points_df, odi_rating_df],axis=1)

In [ ]:
odi_top

In [ ]:
odi_top_10 = odi_top.drop(odi_top.index[range(10,20)],axis=0)
odi_top_10

# 4.c Top 10 ODI batsmen in men’s cricket along with the records for matches, points and rating.

In [ ]:
icc_rating_page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
icc_rating_page

In [ ]:
icc_soup = BeautifulSoup(icc_rating_page.content)

In [ ]:
batsmen_name = []

for i in icc_soup.find_all('div',class_='rankings-block__banner--name-large'):
    batsmen_name.append(i.text)
    
for i in icc_soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    batsmen_name.append(i.text.replace('\n',''))
    
batsmen_name

In [ ]:
batsmen_name_df = pd.DataFrame({'Batsmen Name':batsmen_name})

In [ ]:
batsmen_name_df.drop(batsmen_name_df.index[range(10,99)],inplace=True)

In [ ]:
batsmen_country = []

for i in icc_soup.find_all('div',class_='rankings-block__banner--nationality'):
    batsmen_country.append(i.text.replace('\n',''))
    
for i in icc_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    batsmen_country.append(i.text.replace('\n',''))
    
batsmen_country

In [ ]:
batsmen_country_df = pd.DataFrame({'Batsmen Country':batsmen_country})
batsmen_country_df.drop(batsmen_country_df.index[range(10,100)],inplace=True)

In [ ]:
batsmen_rating = []

for i in icc_soup.find_all('div',class_='rankings-block__banner--rating'):
    batsmen_rating.append(i.text.replace('\n',''))
    
for i in icc_soup.find_all('td',class_='table-body__cell rating'):
    batsmen_rating.append(i.text.replace('\n',''))
    
batsmen_rating

In [ ]:
batsmen_rating_df = pd.DataFrame({'Rating':batsmen_rating})
batsmen_rating_df.drop(batsmen_rating_df.index[range(10,100)],inplace=True)

In [ ]:
icc_batsmen_10 = pd.concat([batsmen_name_df,batsmen_country_df,batsmen_rating_df],axis=1)
icc_batsmen_10

# 4.c Top 10 ODI bowlers in men’s cricket along with the records for their teams and rating.

In [ ]:
icc_bowler_page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
icc_bowler_page

In [ ]:
icc_bowler_soup = BeautifulSoup(icc_bowler_page.content)

In [ ]:
bowler_name = []

for i in icc_bowler_soup.find_all('div',class_='rankings-block__banner--name-large'):
    bowler_name.append(i.text)
    
for i in icc_bowler_soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    bowler_name.append(i.text.replace('\n',''))
    
bowler_name

In [ ]:
bowler_name_df = pd.DataFrame({'Bowler Name':bowler_name})

In [ ]:
bowler_name_df.drop(bowler_name_df.index[range(10,100)],inplace=True)

In [ ]:
bowler_country = []

for i in icc_bowler_soup.find_all('div',class_='rankings-block__banner--nationality'):
    bowler_country.append(i.text.replace('\n',''))
    
for i in icc_bowler_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    bowler_country.append(i.text.replace('\n',''))
    
bowler_country

In [ ]:
bowler_country_df = pd.DataFrame({'Bowler Country':bowler_country})
bowler_country_df.drop(bowler_country_df.index[range(10,100)],inplace=True)

In [ ]:
bowler_rating = []

for i in icc_bowler_soup.find_all('div',class_='rankings-block__banner--rating'):
    bowler_rating.append(i.text.replace('\n',''))
    
for i in icc_bowler_soup.find_all('td',class_='table-body__cell rating'):
    bowler_rating.append(i.text.replace('\n',''))
    
bowler_rating

In [ ]:
bowler_rating_df = pd.DataFrame({'Rating':bowler_rating})
bowler_rating_df.drop(bowler_rating_df.index[range(10,100)],inplace=True)

In [ ]:
icc_bowler_10 = pd.concat([bowler_name_df,bowler_country_df,bowler_rating_df],axis=1)
icc_bowler_10

# 5. Python program to scrape cricket rankings from icc-cricket.com.

# 5.a. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [ ]:
icc_woditeam_page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
icc_woditeam_page

In [ ]:
icc_woditeam_soup = BeautifulSoup(icc_woditeam_page.content)

In [ ]:
wodi_team = []

for i in icc_woditeam_soup.find_all('span', class_='u-hide-phablet'):
    wodi_team.append(i.text)
    
wodi_team

In [ ]:
wodi_team_df = pd.DataFrame({'Team Name':wodi_team})
wodi_team_df

In [ ]:
wodi_team_df.drop(wodi_team_df.index[range(11,12)],axis=0,inplace=True)
wodi_team_df

In [ ]:
odi_team_df.reset_index()

In [ ]:
wodi_matches = []

for i in icc_woditeam_soup.find_all('td', class_='rankings-block__banner--matches'):
    wodi_matches.append(i.text)
    
wodi_matches

In [ ]:
for i in icc_woditeam_soup.find_all('td', class_='table-body__cell u-center-text'):
    wodi_matches.append(i.text)
    
wodi_matches

In [ ]:
len(wodi_matches)

In [ ]:
wodi_matches_df = pd.DataFrame({'Matches':wodi_matches})
wodi_matches_df

In [ ]:
wodi_matches_df.drop(wodi_matches_df.index[range(2,21,2)],axis=0,inplace=True)

In [ ]:
wodi_matches_df.reset_index(drop=True,inplace=True)

In [ ]:
wodi_matches_df

In [ ]:
wodi_points = []

for i in icc_woditeam_soup.find_all('td', class_='rankings-block__banner--points'):
    wodi_points.append(i.text)
    


for i in icc_woditeam_soup.find_all('td', class_='table-body__cell u-center-text'):
    wodi_points.append(i.text)
    
wodi_points

In [ ]:
wodi_points_df = pd.DataFrame({'Points':wodi_points})
wodi_points_df

In [ ]:
wodi_points_df.drop(wodi_points_df.index[range(1,21,2)],axis=0,inplace=True)

In [ ]:
wodi_points_df.reset_index(drop=True,inplace=True)

In [ ]:
wodi_points_df

In [ ]:
wodi_rating = []

for i in icc_woditeam_soup.find_all('td', class_='rankings-block__banner--rating u-text-right'):
    wodi_rating.append(i.text.split('\n')[1])
    


for i in icc_woditeam_soup.find_all('td', class_='table-body__cell u-text-right rating'):
    wodi_rating.append(i.text)
    
wodi_rating

In [ ]:
wodi_rating_df = pd.DataFrame({'Rating':wodi_rating})
wodi_rating_df

In [ ]:
wodi_top = pd.concat([wodi_team_df, wodi_matches_df, wodi_points_df, wodi_rating_df],axis=1)

In [ ]:
wodi_top

In [ ]:
wodi_top_10 = wodi_top.drop(wodi_top.index[range(11,15)],axis=0)
wodi_top_10

# 5.b. Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
women_bat_page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
women_bat_page

In [ ]:
wom_bat_soup = BeautifulSoup(women_bat_page.content)

In [ ]:
wbat_name = []

for i in wom_bat_soup.find_all('div', class_='rankings-block__banner--name-large'):
    wbat_name.append(i.text)
    
for i in wom_bat_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    wbat_name.append(i.text.replace('\n',''))
    
wbat_name

In [ ]:
wbat_name_df = pd.DataFrame({'Name':wbat_name})
wbat_name_df

In [ ]:
wbat_name_df.drop(wbat_name_df.index[range(10,100)],inplace=True)

In [ ]:
wbat_team = []

for i in wom_bat_soup.find_all('div', class_ = 'rankings-block__banner--nationality'):
    wbat_team.append(i.text.replace('\n',''))
    
for i in wom_bat_soup.find_all('span', class_='table-body__logo-text'):
    wbat_team.append(i.text)
    
wbat_team

In [ ]:
wbat_team_df = pd.DataFrame({'Team':wbat_team})
wbat_team_df

In [ ]:
wbat_team_df.drop(wbat_team_df.index[range(10,100)],inplace=True)

In [ ]:
wbat_ranking= []

for i in wom_bat_soup.find_all('div',class_='rankings-block__banner--rating'):
    wbat_ranking.append(i.text)
    
for i in wom_bat_soup.find_all('td', class_='table-body__cell rating'):
    wbat_ranking.append(i.text)
    
wbat_ranking

In [ ]:
wbat_ranking_df = pd.DataFrame({'Ranking':wbat_ranking})
wbat_ranking_df

In [ ]:
wbat_ranking_df.drop(wbat_ranking_df.index[range(10,100)],inplace=True)

In [ ]:
wbat_10 = pd.concat([wbat_name_df,wbat_team_df,wbat_ranking_df],axis=1)

In [ ]:
wbat_10

# 5.c. Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
women_all_page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
women_all_page

In [ ]:
wom_all_soup = BeautifulSoup(women_all_page.content)

In [ ]:
wall_name = []

for i in wom_all_soup.find_all('div', class_='rankings-block__banner--name-large'):
    wall_name.append(i.text)
    
for i in wom_all_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    wall_name.append(i.text.replace('\n',''))
    
wall_name

In [ ]:
wall_name_df = pd.DataFrame({'Name':wall_name})
wall_name_df

In [ ]:
wall_name_df.drop(wall_name_df.index[range(10,20)],inplace=True)

In [ ]:
wall_team = []

for i in wom_all_soup.find_all('div', class_ = 'rankings-block__banner--nationality'):
    wall_team.append(i.text.replace('\n',''))
    
for i in wom_all_soup.find_all('span', class_='table-body__logo-text'):
    wall_team.append(i.text)
    
wall_team

In [ ]:
wall_team_df = pd.DataFrame({'Team':wall_team})
wall_team_df

In [ ]:
wall_team_df.drop(wall_team_df.index[range(10,20)],inplace=True)

In [ ]:
wall_ranking= []

for i in wom_all_soup.find_all('div',class_='rankings-block__banner--rating'):
    wall_ranking.append(i.text)
    
for i in wom_all_soup.find_all('td', class_='table-body__cell rating'):
    wall_ranking.append(i.text)
    
wall_ranking

In [ ]:
wall_ranking_df = pd.DataFrame({'Ranking':wall_ranking})
wall_ranking_df

In [ ]:
wall_ranking_df.drop(wall_ranking_df.index[range(10,20)],inplace=True)

In [ ]:
wall_10 = pd.concat([wall_name_df,wall_team_df,wall_ranking_df],axis=1)

In [ ]:
wall_10

# 6. Python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [16]:
coreyms_page = requests.get('https://coreyms.com/')
coreyms_page

In [17]:
cms_soup = BeautifulSoup(coreyms_page.content)

In [18]:
cms_head = []

for i in cms_soup.find_all('a', class_ = 'entry-title-link'):
    cms_head.append(i.text)
    
cms_head

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [19]:
cms_date = []

for i in cms_soup.find_all('time', class_ = 'entry-time'):
    cms_date.append(i.text)
    
cms_date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [20]:
cms_content = []

for i in cms_soup.find_all('div', class_='entry-content'):
    cms_content.append(i.text)
    
cms_content

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…\n\n\n\n']

In [21]:
cms_link = []

for i in cms_soup.find_all('iframe', class_='youtube-player'):
    cms_link.append(i['src'])
    
cms_link

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [24]:
print(len(cms_head))
print(len(cms_date))
print(len(cms_content))
print(len(cms_link))

10
10
10
9

In [25]:
cms_df = pd.DataFrame({'Heading':cms_head,'Date':cms_date,'Content':cms_content})
cms_df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be..."
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will..."

In [26]:
cms_link_df = pd.DataFrame({'Video URL':cms_link})
cms_link_df

                                           Video URL
0  https://www.youtube.com/embed/z0gguhEmWiY?vers...
1  https://www.youtube.com/embed/_P7X8tMplsw?vers...
2  https://www.youtube.com/embed/fKl2JW_qrso?vers...
3  https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4  https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5  https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6  https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7  https://www.youtube.com/embed/06I63_p-2A4?vers...
8  https://www.youtube.com/embed/_JGmemuINww?vers...

In [27]:
cms_df = pd.concat([cms_df,cms_link_df],axis=1)

In [28]:
cms_df

,Heading,Date,Content,Video URL
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...,https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/06I63_p-2A4?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/_JGmemuINww?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will...",NaN

# 7. Python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from nobroker.in.

In [ ]:
nobroker_page = requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N%20DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8%20iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')
nobroker_page

In [ ]:
nobroker = BeautifulSoup(nobroker_page.content)

In [ ]:
title = []

for i in nobroker.find_all('h2', class_ = 'heading-6 font-semi-bold nb__25Cl7'):
    title.append(i.text)
    
title

In [ ]:
title_df = pd.DataFrame({'Title':title})
title_df

In [ ]:
location = []

for i in nobroker.find_all('div', class_='nb__1EwQz'):
    location.append(i.text)
    
location

In [ ]:
loc_df = pd.DataFrame({'Location':location})
loc_df

In [ ]:
area = []

for i in nobroker.find_all('div', class_ = 'nb__FfHqA'):
    area.append(i.text)
    
area

In [ ]:
data = []

for i in nobroker.find_all('div', class_ = 'font-semi-bold heading-6'):
    data.append(i.text)
    
data

In [ ]:
data_df = pd.DataFrame({"Data":data})
data_df

In [ ]:
area_1 = data_df.drop(data_df.index[range(1,48,3)],axis=0)
area_1

In [ ]:
area_df = area_1.drop(area_1.index[range(1,32,2)],axis=0)

In [ ]:
area_df.reset_index(drop=True,inplace=True)

In [ ]:
area_df.rename(columns={'Data':'Area'})

In [ ]:
price_df = area_1.drop(area_1.index[range(0,32,2)],axis=0)
price_df

In [ ]:
price_df.reset_index(drop=True, inplace=True)

In [ ]:
price_df.rename(columns = {'Data':'Price'})

In [ ]:
data_2 = data_df.drop(data_df.index[range(0,48,3)],axis=0)

In [ ]:
data_2

In [ ]:
emi_df = data_2.drop(data_2.index[range(1,32,2)],axis=0)
emi_df

In [ ]:
emi_df.reset_index(drop=True, inplace=True)

In [ ]:
emi_df

In [ ]:
nobroker_df = pd.concat([title_df,loc_df,area_df,price_df,emi_df],axis=1)
nobroker_df

# 8. Python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [3]:
dineout_page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dineout_page

In [4]:
dine_soup = BeautifulSoup(dineout_page.content)

In [5]:
name = []

for i in dine_soup('a', class_='restnt-name ellipsis'):
    name.append(i.text)
    
name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

In [6]:
loc = []

for i in dine_soup('div', class_ = 'restnt-loc ellipsis'):
    loc.append(i.text)
    
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [10]:
cui = []

for i in dine_soup('span', class_='double-line-ellipsis'):
    cui.append(i.text.split('|')[1])
    
cui

[' Chinese, North Indian',
 ' North Indian, Barbecue, Italian, Asian',
 ' North Indian, Chinese',
 ' Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 ' Barbecue, Chinese, Mughlai, North Indian',
 ' North Indian, Italian, Oriental ',
 ' Barbecue, North Indian',
 ' North Indian, Chinese, Fast Food',
 ' North Indian, Chinese, Continental',
 ' North Indian, Mughlai, Barbecue',
 ' North Indian, Mughlai',
 ' North Indian, Chinese, Barbecue',
 ' Multi-Cuisine, Asian, European, Italian, North Indian']

In [11]:
rating = []

for i in dine_soup('div', class_='restnt-rating rating-4'):
    rating.append(i.text)

rating

['3.5',
 '3.9',
 '4',
 '4.3',
 '4.1',
 '3.9',
 '3.6',
 '3.9',
 '4.2',
 '4.3',
 '3.9',
 '4.2',
 '4.1']

In [14]:
img = []

for i in dine_soup('img', class_='no-img'):
    img.append(i['data-src'])
    
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [29]:
print(len(name))
print(len(loc))
print(len(cui))
print(len(rating))
print(len(img))

13
13
13
13
13

In [30]:
dineout = pd.DataFrame({'Restaurant Name':name,'Location':loc,'Cuisine':cui,'Rating':rating,'Images':img})

In [31]:
dineout

,Restaurant Name,Location,Cuisine,Rating,Images
0,Castle Barbeque,"Connaught Place, Central Delhi","Chinese, North Indian",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","North Indian, Barbecue, Italian, Asian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","Multi-Cuisine, North Indian, Italian, Contine...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","Barbecue, Chinese, Mughlai, North Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","North Indian, Italian, Oriental",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","Barbecue, North Indian",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","North Indian, Chinese, Fast Food",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"Vibe by The Lalit Traveller,Sector 35, Faridabad","North Indian, Chinese, Continental",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","North Indian, Mughlai, Barbecue",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"Sector 29, Faridabad","North Indian, Mughlai",3.9,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"NIT, Faridabad","North Indian, Chinese, Barbecue",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"DoubleTree By Hilton Gurugram Baani Square,Sec...","Multi-Cuisine, Asian, European, Italian, Nort...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 9. Python program to scrape weather details for last 24 hours from Tutiempo.net :
i) Hour

ii) Temperature

iii) Wind

iv) Weather condition

v) Humidity

vi) Pressure

In [4]:
tut_page = requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours')

SSLError: HTTPSConnectionPool(host='en.tutiempo.net', port=443): Max retries exceeded with url: /delhi.html?data=last-24-hours (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)')))

In [35]:
tut_soup = BeautifulSoup(tut_page.content)

NameError: name 'tut_page' is not defined

# Q9. Could not complete this question since the website request could not be completed and the content cannot be accessed.

# 10. Python program to scrape monument name, monument description, image URL about top 10 monuments from puredestinations.co.uk.

In [44]:
dest_page = requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')
dest_page

In [45]:
dest_soup = BeautifulSoup(dest_page.content)

In [46]:
dest_name = []

for i in dest_soup.find_all('p'):
    dest_name.append(i.text)
    
dest_name

['Add items to your wishlist to see them here.',
 'Add items to your wishlist to see them here.',
 'Call us now',
 'Rich in culture and diversity, India is home to some of the finest historical monuments in the world. Most recognised by the UNESCO World Heritage Site, the famous Indian monuments include the beautiful Taj Mahal, the sacred Golden Temple and the cultural site, Hawa Mahal. Discover and experience the magnificent insights into India’s rich heritage and ancient architecture. Read on for our list of the top must see historical monuments in India below.',
 'Taj Mahal, Agra',
 'Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
 '',
 'Golden Temple (Harmandir Sahib), Amritsar ',
 'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
 '',
 'Meenakshi Temple, Madurai',
 'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
 '',
 'Mysore Palace, Mysore',
 'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
 '',
 'Gateway of India, Mumbai',
 'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
 '',
 'Red Fort, New Delhi',
 'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
 '',
 'Hawa Mahal, Jaipur',
 'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
 '',
 'Qutub Minar, New Delhi',
 'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
 '',
 'Sanchi Stupa, Sanchi',
 'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
 '',
 'Charminar, Hyderabad',
 'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.',
 '',
 'Things to know before planning your trip to India',
 'Are you inspired to plan an incredible trip to India? Get in touch with Pure Destinations today to speak to a travel expert to plan a tailor made itinerary.\xa0Fancy exploring these famous monuments in India? Why not\xa0contact\xa0us today!',
 'Speak To Our Travel Experts',
 'Get A Quote From The Experts',
 'Find Out About Our Luxury Service',
 'Keep up to date with all our exclusive offers, and the best inspiration and advice with by joining our mailing list.',
 'Where to go. What to do. Check out all the latest hotspots by clicking here on use the button below to get a copy sent to your door.',
 '© 2021 Pure Destinations Ltd | Honeymoon Dreams is a trading name for Pure Destinations Ltd whose registered address can be found on Companies House, Company No. 10604545']

In [48]:
dest = pd.DataFrame({'Data':dest_name})
dest

                                                 Data
0        Add items to your wishlist to see them here.
1        Add items to your wishlist to see them here.
2                                         Call us now
3   Rich in culture and diversity, India is home t...
4                                     Taj Mahal, Agra
5   Enlisted in the Seven Wonders of the World, Th...
6
7          Golden Temple (Harmandir Sahib), Amritsar
8   The holiest shrine and pilgrimage place locate...
9
10                          Meenakshi Temple, Madurai
11  Meenakshi Temple is situated on the Southern b...
12
13                              Mysore Palace, Mysore
14  The Mysore Palace is a famous historical monum...
15
16                           Gateway of India, Mumbai
17  Even though Mumbai is famous for its Bollywood...
18
19                                Red Fort, New Delhi
20  Declared as the UNESCO’s World Heritage Site, ...
21
22                                 Hawa Mahal, Jaipur
23  Explore a blend of beauty and Rajasthan cultur...
24
25                             Qutub Minar, New Delhi
26  Discover one of the tallest towers in the worl...
27
28                               Sanchi Stupa, Sanchi
29  The beautiful and massive dome, Sanchi Stupa a...
30
31                               Charminar, Hyderabad
32  No visit to Hyderabad should be complete witho...
33
34  Things to know before planning your trip to India
35  Are you inspired to plan an incredible trip to...
36                        Speak To Our Travel Experts
37                       Get A Quote From The Experts
38                  Find Out About Our Luxury Service
39  Keep up to date with all our exclusive offers,...
40  Where to go. What to do. Check out all the lat...
41  © 2021 Pure Destinations Ltd | Honeymoon Dream...

In [50]:
dest.drop(dest.index[range(0,4)],axis=0,inplace=True)

In [52]:
dest.drop(dest.index[range(29,38)],axis=0,inplace=True)

In [55]:
dest.reset_index(drop=True,inplace=True)

In [60]:
dest.replace('',np.nan,inplace=True)

In [63]:
dest.dropna(inplace=True)

In [64]:
dest.reset_index(drop=True,inplace=True)

In [65]:
dest

                                                 Data
0                                     Taj Mahal, Agra
1   Enlisted in the Seven Wonders of the World, Th...
2          Golden Temple (Harmandir Sahib), Amritsar
3   The holiest shrine and pilgrimage place locate...
4                           Meenakshi Temple, Madurai
5   Meenakshi Temple is situated on the Southern b...
6                               Mysore Palace, Mysore
7   The Mysore Palace is a famous historical monum...
8                            Gateway of India, Mumbai
9   Even though Mumbai is famous for its Bollywood...
10                                Red Fort, New Delhi
11  Declared as the UNESCO’s World Heritage Site, ...
12                                 Hawa Mahal, Jaipur
13  Explore a blend of beauty and Rajasthan cultur...
14                             Qutub Minar, New Delhi
15  Discover one of the tallest towers in the worl...
16                               Sanchi Stupa, Sanchi
17  The beautiful and massive dome, Sanchi Stupa a...
18                               Charminar, Hyderabad
19  No visit to Hyderabad should be complete witho...

In [75]:
dest_name = dest.drop(dest.index[range(1,20,2)],axis=0)
dest_name.rename(columns={'Data':'Monument'},inplace=True)
print(dest_name)
dest_desc = dest.drop(dest.index[range(0,20,2)],axis=0)
dest_desc.rename(columns={'Data':'Description'},inplace=True)
print(dest_desc)

                                      Monument
0                              Taj Mahal, Agra
2   Golden Temple (Harmandir Sahib), Amritsar
4                    Meenakshi Temple, Madurai
6                        Mysore Palace, Mysore
8                     Gateway of India, Mumbai
10                         Red Fort, New Delhi
12                          Hawa Mahal, Jaipur
14                      Qutub Minar, New Delhi
16                        Sanchi Stupa, Sanchi
18                        Charminar, Hyderabad
                                          Description
1   Enlisted in the Seven Wonders of the World, Th...
3   The holiest shrine and pilgrimage place locate...
5   Meenakshi Temple is situated on the Southern b...
7   The Mysore Palace is a famous historical monum...
9   Even though Mumbai is famous for its Bollywood...
11  Declared as the UNESCO’s World Heritage Site, ...
13  Explore a blend of beauty and Rajasthan cultur...
15  Discover one of the tallest towers in the worl...
17  The beautiful and massive dome, Sanchi Stupa a...
19  No visit to Hyderabad should be complete witho...

In [76]:
dest_name.reset_index(drop=True,inplace=True)
dest_desc.reset_index(drop=True,inplace=True)

dest_df = pd.concat([dest_name,dest_desc],axis=1)
dest_df

,Monument,Description
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th..."
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ..."
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a..."
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...